@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Numans&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eecd97;
}

body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: 'Numans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(239, 122, 26);
    padding: 10px 25px;
    border: 1px solid rgb(239, 122, 26);
    color: white;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(250, 203, 160);
    cursor: pointer;
}

header {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../src/Banner-escritorio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px 50px;
}

.nav1, .nav2, .nav3 {
    flex: 1;
    text-align: center;
}

.nav1 ul, .nav3 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav1 ul {
    justify-content: flex-start;
}

.nav3 ul {
    justify-content: flex-end;
}

.nav1 a, .nav3 a {
    color: black;
}

.nav1 ul li {
    margin-right: 10px;
}

.nav2 img {
    width: 125px;
    height: auto;
}

header article {
    margin-left: 50px;
    max-width: 300px;
}

header h2:nth-child(1) {
    font-size: 30px;
    font-weight: 400;
}

header h2:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}

header p {
    font-size: 14px;
}

header article p {
    font-weight: 400;
    margin-bottom: 30px;
}

.descuento {
    background-color: rgb(239, 122, 26);
    padding: 10px 0;
    height: max-content;
}

.descuento p {
    color: white;
    font-weight: 600;
    text-align: center;
}

.seccion1 {
    margin: 0;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

article.seccion1 > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.puzzle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.puzzleNumero1 {
    width: 450px;
    height: 350px;
    padding: 40px;
    background-color: rgb(253, 236, 220);
}

.puzzleNumero2 {
    width: 450px;
    height: 350px;
    padding: 40px;
    background-color: rgb(250, 203, 160);
}

.puzzleNumero3 {
    width: 450px;
    height: 350px;
    padding: 40px;
    background-color: rgb(253, 236, 220);
}

.puzzleNumero1 div, .puzzleNumero2 div, .puzzleNumero3 div {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.puzzleNumero1 div p, .puzzleNumero2 div p, .puzzleNumero3 div p {
    text-align: right;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
}

.puzzleNumero1 div p, .puzzleNumero3 div p {
    color: rgb(250, 203, 160);
}

.puzzleNumero2 div p {
    color: rgb(253, 236, 220);
}

.puzzleNumero1 div img, .puzzleNumero2 div img, .puzzleNumero3 div img {
    max-width: 40px;
}

.puzzleNumero1 h3, .puzzleNumero2 h3, .puzzleNumero3 h3 {
    margin: 20px 0;
    font-weight: 550;
    font-size: 18px;
    color: rgb(239, 122, 26);
}

.puzzleNumero1 p, .puzzleNumero2 p, .puzzleNumero3 p {
    font-size: 14px;
}

.seccion2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 241, 245);
}

.seccion2 div:nth-child(1) {
    width: 40%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 74, 99);
    color: white;
}

.seccion2 div:nth-child(1) h2 {
    width: 300px;
    font-size: 29px;
    font-weight: 570;
}

.seccion2 div:nth-child(1) p {
    width: 300px;
    font-size: 14px;
    margin-bottom: 15px;
}

.seccion2 div:nth-child(1) ul {
    list-style-type: none;
}

.seccion2 div:nth-child(1) ul li {
    width: 300px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(4, 74, 99);
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 10px;
    margin-bottom: 15px;
}

.seccion2 div:nth-child(1) ul li:hover {
    background-color: white;
    color: rgb(4, 74, 99);
    cursor: pointer;
}

.seccion2 div:nth-child(1) ul li a {
    color: white;   
}

.seccion2 div:nth-child(1) ul li:hover a {
    color: inherit;
}

.seccion2 div:nth-child(2) {
    width: 60%;
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.seccion2 div:nth-child(2) div {
    max-width: 350px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.seccion2 div:nth-child(2) div img {
    max-width: 350px;
    height: auto;
}

.seccion2 div:nth-child(2) div p {
    max-width: 350px;
}